.portfolio {
    margin: 0 auto;
    background-color: #202020;
    padding: 50px 70px 0 70px;
}

.portfolio-title {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 0 30px 0;
    margin: 0;
}

.portfolio__group_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #E8E8E8;
    max-width: 1140px;
    color: #fff;
    text-decoration: none;
    padding: 19px 0 10px 0;
    max-height: 60px;
}

.portfolio__group_content:last-child {
    border: 0;
    padding: 20px 0 115px 0;
}

.portfolio__group_text {
    margin: 0;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__group_link {
    margin: 0;
    width: 29px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -1.2px;
}

.portfolio__group_link:hover {
    opacity: 0.5;
}

.portfolio__group_text:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1100px) {
    .portfolio {
        padding: 41px 0 0 0;
    }

    .portfolio-title {
        max-width: 668px;
        margin: 0 auto;
    }

    .portfolio__group_content {
        max-width: 668px;
        margin: 0 auto;
    }

    .portfolio__group_text {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px;
    }

    .portfolio__group_content:last-child {
        padding: 20px 0 79px 0;
    }
}

@media screen and (max-width: 700px) {
    .portfolio {
        max-width: 292px;
        padding: 0;
    }

    .portfolio-title {
        font-size: 14px;
        line-height: 20px;
        padding: 0 0 20px 0;
    }

    .portfolio__group_content {
        max-width: 292px;
        padding: 21px 0 18px 0;
    }

    .portfolio__group_content:last-child {
        padding: 20px 0 70px 0;
    }

    .portfolio__group_text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__group_link {
        width: 18px;
        height: 28px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}