.filterCheckbox__checkbox {
  margin: 32px 0 47px 0;
  display: flex;
  gap: 14px;
  align-items: center;
}

.searchForm__group-checkbox_film {
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
  margin: 0;
}

.searchForm__group-checkbox_tumbler {
  cursor: pointer;
  width: 36px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.searchForm__group-checkbox_checkbox-check {
  display: none;
}

.searchForm__group-checkbox_slider {
  position: absolute;
  inset: 0;
  background-color: #2be080;
  border-radius: 16px;
  transform: scale(1, 1);
  transition: .5s;
}

.searchForm__group-checkbox_slider::before {
  border: 1px solid #2be080;
  border-radius: 50%;
  background-color: #fff;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 1px;
  bottom: 1px;
  content: '';
}

.searchForm__group-checkbox_checkbox-check:checked+.searchForm__group-checkbox_slider {
  background-color: #A0A0A0;
}

.searchForm__group-checkbox_checkbox-check:checked+.searchForm__group-checkbox_slider::before {
  transform: translateX(16px);
  background-color: #A0A0A0;
  border: 1px solid #000;
}

@media screen and (max-width: 1100px) {
  .filterCheckbox__checkbox {
    justify-content: end;
    margin: 29px 0 47px 0;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 720px) {
  .filterCheckbox__checkbox {
    justify-content: center;
    margin: 38px 0 10px 0;
  }

  .searchForm__group-checkbox_film {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;

  }
}